
/.idea/
/docker/mysql/data/
/docker/mysql/log/
/www/.sudo_as_admin_successful
/www/.bash_history
/www/.composer/
/www/.v8flags.5.5.372.43.d41d8cd98f00b204e9800998ecf8427e.json
/www/.cache/
/www/.config/
/www/.local/
/www/.npm/
/www/web/fonts/
/www/web/js/
/www/web/css/
/www/web/require/bower_components/
/www/web/require/node_modules/
